<template>
    <div class="grid-list">
        <div class="grid-list__item"
             v-for="photo in items"
             :key="photo.title">

            <img class="grid-list__image" :src="photo.thumbnailUrl" :alt="photo.title">
            <div class="grid-list__name" v-text="photo.title"></div>
            <div class="grid-list__button"
                 :class="{ 'grid-list__button_active': getFavoritesIds.includes(photo.id) }"
                 @click="updateFavorites(photo.id)" />
        </div>
    </div>
</template>

<script>

import { mapActions, mapGetters } from 'vuex';

export default {
    name: 'grid-item',

    props: {
        items: {
            type: [Array, Object],
            default () {
                return [];
            },
        },
    },

    methods: {
        ...mapActions(['updateFavorites']),
    },
    computed: {
        ...mapGetters(['getFavoritesIds']),
    },
};
</script>

<style lang="scss">

.grid-list {
    &__item {
        display: flex;
        align-items: center;
        margin: 0 0 10px;
        padding: 5px;
        border-radius: 10px;
        background: var(--lite-gray-color);
    }

    &__image {
        display: block;
        width: 38px;
        height: 38px;
        margin: 0 10px 0 0;
        object-fit: cover;
        border-radius: 10px;
    }

    &__name {
        width: 100%;
        font-size: 1.1rem;
        line-height: 1.4;
    }

    &__button {
        width: 16px;
        height: 16px;
        mask: url("../../../static/icons/star.svg") 100% / contain;
        background: var(--gray-color);
        flex-shrink: 0;
        margin: 0 10px;
        cursor: pointer;

        &_active {
            background: var(--primary-color);
        }
    }
}

</style>
