<template>
    <div class="popup-filter">
        <div class="popup-filter__title">Фильтр:</div>
        <div class="popup-filter__list">
            <div class="popup-filter__item"
                 @click="$emit('switch')">
                {{ sortByAlbum ? 'По алфавиту' : 'По альбомам' }}
            </div>
            <div class="popup-filter__item"
                 :class="{'popup-filter__item_active' : showFavorite}"
                 @click="$emit('toggle')">Избранное
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'popup-filter',
    props: {
        sortByAlbum: {
            type: Boolean,
            default () {
                return false;
            },
        },
        showFavorite: {
            type: Boolean,
            default () {
                return false;
            },
        },
    },
};
</script>

<style lang="scss">
.popup-filter {
    display: flex;
    align-items: center;
    font-weight: 600;

    @media all and (max-width: 420px) {
        flex-direction: column;
    }

    &__title {
        margin: 0 10px 0 0;
        color: var(--second-color);

        @media all and (max-width: 420px) {
            margin: 0 0 10px;
        }
    }

    &__list {
        display: flex;
    }

    &__item {
        position: relative;
        margin: 0 10px;
        padding: 7px;
        border-radius: 5px;
        color: var(--primary-color);
        cursor: pointer;
        user-select: none;

        &_active {
            background: var(--second-color);
            color: #fff;
        }
    }
}
</style>
