<template>
    <div class="popup-grid">
        <div class="popup-grid__group" v-for="group in groups" :key="group.title">
            <span class="popup-grid__group-title" v-text="group.title"></span>
            <GridList :items="group.items" />
        </div>
        <div class="not-found" v-if="showFavorite && !groups.length" v-text="'У вас нет избранных фото'" />
    </div>
</template>

<script>

import GridList from '@/components/popup/components/grid-list';

export default {
    name: 'popup-grid',
    props: {
        groups: {
            type: [Array, Object],
            default () {
                return [];
            },
        },
        showFavorite: {
            type: Boolean,
            default () {
                return false;
            },
        },
    },
    components: {
        GridList,
    },
};
</script>

<style lang="scss">

.popup-grid {
    grid-column-gap: 20px;
    column-gap: 20px;
    min-height: 100%;
    width: 100%;
    column-count: 4;

    @media all and (max-width: 992px) {
        column-count: 3;
    }

    @media all and (max-width: 768px) {
        column-count: 2;
    }

    @media all and (max-width: 620px) {
        column-count: 1;
    }

    &__group {
        display: inline-block;
        width: 100%;
    }

    &__group-title {
        display: block;
        font-size: 1.2rem;
        padding: 10px 20px;
        line-height: 1.4;
        color: var(--second-color);

        &:first-letter {
            text-transform: uppercase;
        }
    }
}

</style>
