<template>
    <div class="popup">
        <div class="popup__header">
            <PopupFilter
                :sortByAlbum="sortByAlbum"
                :showFavorite="showFavorite"
                @switch="switchType()"
                @toggle="toggleFavorites()"
            />
        </div>
        <div class="popup__scroll-wrap">
            <div class="popup__scroll">
                <PopupGrid :groups="groupedPhotos" :showFavorite="showFavorite" />
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

import PopupFilter from '@/components/popup/components/popup-filter';
import PopupGrid from '@/components/popup/components/popup-grid';

export default {
    props: {},

    data () {
        return {
            sortByAlbum: false,
            showFavorite: false,
        };
    },

    components: {
        PopupFilter,
        PopupGrid,
    },

    computed: {
        ...mapGetters(['getPhotos', 'getAlbums', 'getFavorites']),
        groupedPhotos () {
            if (this.showFavorite) {
                return this.getFavorites;
            }

            return this.sortByAlbum ? this.getAlbums : this.getPhotos;
        },
    },

    methods: {
        ...mapActions(['loadPhotos', 'loadAlbums']),
        switchType () {
            this.sortByAlbum = !this.sortByAlbum;
        },
        toggleFavorites () {
            this.showFavorite = !this.showFavorite;
        },
    },

    watch: {
        showFavorite (val) {
            if (val) this.sortByAlbum = false;
        },

        sortByAlbum (val) {
            if (val) this.showFavorite = false;
        },
    },

    async mounted () {
        await this.loadAlbums();
        await this.loadPhotos();
    },
};
</script>

<style lang="scss">
.popup {
    font-weight: 700;
    font-family: Open Sans, Roboto, sans-serif;
    width: 1300px;
    height: 600px;
    margin: auto;
    padding: 3.6rem 4.8rem 6rem;
    font-size: 1.2rem;
    background: #ffffff;
    border-radius: 1.2rem;
    box-sizing: border-box;

    --primary-color: #3e5ef2;
    --second-color: #1b204f;
    --gray-color: #dedee6;
    --lite-gray-color: #f7f8f9;

    &__header {
        margin: 0 0 1.5rem;
    }

    &__scroll-wrap {
        overflow: hidden;
        height: 100%;
    }

    &__scroll {
        width: 100%;
        height: calc(100% - 30px);
        overflow-y: auto;
        padding: 0 15px 0 0;
        box-sizing: border-box;

        &::-webkit-scrollbar {
            width: 6px;
            height: 3px;
            background: var(--gray-color);
            border-left: 2px solid #ffffff;
            border-right: 2px solid #ffffff;
        }

        &::-webkit-scrollbar-button {
            height: 0;
        }

        &::-webkit-scrollbar-thumb {
            height: 50px;
            background-color: var(--primary-color);
        }

        &::-webkit-resizer,
        &::-webkit-scrollbar-corner,
        &::-webkit-scrollbar-track-piece,
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }
}
</style>
